parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:\\$config\\.$#"
			count: 6
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:providerIsLoaded\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Broadcast\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 5
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:putJsVars\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:isLogged\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:isLogged\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Class App\\\\Providers\\\\BroadcastServiceProvider not found\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Access to property \\$activity_id on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Access to property \\$message on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Access to property \\$title on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Access to property \\$type on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Access to property \\$url on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Access to property \\$user_id on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Access to property \\$user_type on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Call to method toArray\\(\\) on an unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Property Igniter\\\\Broadcast\\\\Events\\\\BroadcastActivityCreated\\:\\:\\$activity has unknown class Igniter\\\\Flame\\\\ActivityLog\\\\Models\\\\Activity as its type\\.$#"
			count: 1
			path: src/Events/BroadcastActivityCreated.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Broadcast\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 3
			path: src/Models/Settings.php
