parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:\\$config\\.$#"
			count: 7
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:providerIsLoaded\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Broadcast\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 7
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:putJsVars\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:isLogged\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:user\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:isLogged\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:user\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Broadcast\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 3
			path: src/Models/Settings.php
